html {
    height: 100%;
    width: 100%;
}
body {
    background-color: teal;
    justify-content: center;
}
.title {
    display: grid;
    grid-row: 1;
    grid-column: 2/4;
    justify-content: center;
}
.todoList {
    display: grid;
    grid-row-start: 3;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.todoItem {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 10% 50% 20% 20%;
    margin: 25px;
    border: 1px solid black;
    border-radius: 4px;
    background-color: black;
    color: white;
    padding: 2px;
}
.edit {
    background-color: green;
    color: black;
}
.delete {
    background-color: red;
    color: black;
}
.completed-checkbox {
    display: grid;
    align-self: center;
    margin: 0 auto;
}
.create-item {
    width: fit-content;
    display: grid;
    grid-row-start: 2;
    grid-template-rows: 1fr;
    grid-template-columns: auto;
    justify-content: center;
    align-self: center;
    margin: 0 auto;
    padding: 10px 25px 25px 25px;
    color: white;
    background-color: black;
    border-radius: 10px;
}
.create-item > button {
    background-color: green;
    margin-top: 10px;
}
.sort-by {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 12.5% 12.5% 75%;
    justify-content: center;
    align-self: center;
    margin: 25px;
}
#sort-by-created {
    grid-row: 2;
    background-color: pink;
    border-radius: 10px;
    width: 150px;
}
#sort-by-updated {
    grid-row: 3;
    background-color: pink;
    border-radius: 10px;
    width: 150px;
}