html {
    height: 100%;
    width: 100%;
}
body {
    background-color: teal;
    justify-content: center;
}
.title {
    display: grid;
    grid-row: 1;
    grid-column: 2/4;
    justify-content: center;
}
.todoList {
    display: grid;
    grid-row-start: 2;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.todoItem {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 10% 50% 20% 20%;
    margin: 25px;
    border: 1px solid black;
    border-radius: 4px;
    background-color: black;
    color: white;
}
.edit {
    background-color: green;
    color: black;
}
.delete {
    background-color: red;
    color: black;
}
.completed-checkbox {
    display: grid;
    align-self: center;
    margin: 0 auto;
}