<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo</title>
    <link rel="stylesheet" type="text/css" href="./styles/style.css">
</head>
<body>
    <h1 class="title">Todo list</h1>
    <div id="user-interface" class="user">
        <div id="signed-out-interface">
            <h3>Login</h3>
            <div>
                <label for="username-sign-in">Username</label>
                <br>
                <input type="text" name="username-sign-in" id="username-sign-in">
            </div>
            <div>
                <label for="password-sign-in">Password</label>
                <br>
                <input type="text" name="password-sign-in" id="password-sign-in">
            </div>
            <p id="sign-in-response"></p>
            <br>
            <button id="sign-in">Sign in</button>
        </div>
        <div id="signed-in-interface">
            <div id="signed-in" class="signed-in">
                <h3 id="account-username"></h3>
                <br>
                <button id="sign-out" disabled>Sign out of account</button>
            </div>
        </div>
        <div id="create-user-interface">
            <h3>Create user</h3>
            <div>
                <label for="create-user-username">Username</label>
                <br>
                <input type="text" name="create-user-username" id="create-user-username">
            </div>
            <div>
                <label for="create-user-password">Password</label>
                <br>
                <input type="text" name="create-user-password" id="create-user-password">
            </div>
            <div>
                <label for="create-user-role">Choose role</label>
                <br>
                <select name="create-user-role" id="create-user-role">
                    <option value="user">User</option>
                    <option value="admin">Admin</option>
                </select>
                <br>
                <p id="create-account-response"></p>
            </div>
            <br>
            <button id="create-user" disabled>Create account</button>
        </div>
    </div>
    <div class="create-item">
        <p>Enter title of todo item</p>
        <input type="text" name="newTodo-title" id="newTodo-title" autocomplete="off">
        <button id="create-todo-btn">Add todo item</button>
    </div>
    <div class="sort-by">
        <h2>Sort by latest:</h2>
        <button id="sort-by-created">Created</button>
        <button id="sort-by-updated">Updated</button>
    </div>
    <h1>Todo lists</h1>
    <div id="page-number"><h1>Page 1</h1></div>
    <div id="todo-items-list" class="todo-items-list"></div>
    <div class="pagination-container">
        <button id="previous-page">Previous page</button>
        <button id="next-page">Next page</button>
    </div>
    <div id="todoLists" class="todoLists"></div>
    <script type="module" src="./scripts/read.mjs"></script>
    <script type="module" src="./scripts/update.mjs"></script>
    <script type="module" src="./scripts/delete.mjs"></script>
    <script type="module" src="./scripts/create.mjs"></script>
    <script type="module" src="./scripts/sortby.mjs"></script>
    <script type="module" src="./scripts/pagination.mjs"></script>
    <script type="module" src="./scripts/user.mjs"></script>
</body>
</html>