<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo</title>
    <link rel="stylesheet" type="text/css" href="./styles/style.css">
</head>
<body>
    <h1 class="title">Todo list</h1>
    <div id="user-interface" class="user">
        <div id="signed-out-interface">
            <h3>Login</h3>
            <div>
                <label for="username-sign-in">Username</label>
                <br>
                <input type="text" name="username-sign-in" id="username-sign-in">
            </div>
            <div>
                <label for="password-sign-in">Password</label>
                <br>
                <input type="text" name="password-sign-in" id="password-sign-in">
            </div>
            <p id="sign-in-response"></p>
            <br>
            <button id="sign-in">Sign in</button>
        </div>
        <div id="signed-in-interface">
            <div id="signed-in" class="signed-in">
                <h3 id="account-username"></h3>
                <br>
                <button id="sign-out" disabled>Sign out of account</button>
            </div>
        </div>
        <div id="create-user-interface">
            <h3>Create user</h3>
            <div>
                <label for="create-user-username">Username</label>
                <br>
                <input type="text" name="create-user-username" id="create-user-username">
            </div>
            <div>
                <label for="create-user-password">Password</label>
                <br>
                <input type="text" name="create-user-password" id="create-user-password">
            </div>
            <div>
                <label for="create-user-role">Choose role</label>
                <br>
                <select name="create-user-role" id="create-user-role">
                    <option value="user">User</option>
                    <option value="admin">Admin</option>
                </select>
                <br>
                <p id="create-account-response"></p>
            </div>
            <br>
            <button id="create-user" disabled>Create account</button>
        </div>
    </div>
    <h1>Todo lists</h1>
    <div id="todoLists" class="todoLists"></div>
    <h1>Todo items</h1>
        <div class="create-item">
            <input type="text" name="newTodo-title" id="newTodo-title" autocomplete="off">
            <button disabled id="create-todo-btn">Create new todo item</button>
        </div>
    <div id="page-number"><h1>Page 1</h1></div>
    <div class="sort-by">
        <button id="sort-by-created">Sort by created</button>
        <button id="sort-by-updated">Sort by updated</button>
    </div>
    <div id="todo-items-list" class="todo-items-list"></div>
    <div class="pagination-container">
        <button id="previous-page">Previous page</button>
        <button id="next-page">Next page</button>
    </div>
    <div id="gdpr">
        <div id="gdpr-privacy-policy">
            Privacy Policy
                <br>
                <br>
                * What data is being saved
                <br>
                    - Personal identification information (Username, uID, Email address & password).
                <br>
                    - Necessary encryption is made for password storage to ensure user privacy and security.
                <br>
                    - We also keep information about your todolist and todos (Title, Done status & Username ).
                <br>
                <br>
                * Why the data is saved
                <br>
                    - The data is being saved to let the user create and sign into a account with a certain role
                    and auto generated id to be able to create todo lists and todo items to previously mentioned todo lists.
                    This is to make the web application works as intended.
                <br>
                <br>
                * How the data is used
                <br>
                    - The data is used to protect your information from being accessed by anyone else but you.
                <br>
                    - The data is used to be able to link users todolists and todoitems to previously said users
                <br>
                    - You are identified by the uniqe id that has been genereted
                <br>
                <br>
                * How to remove the data
                <br>
                    - To remove your data you will need to delete your account, 
                      by doing that you will delete all data about you, unless the data is deemed by law to be saved
        </div>
        <br>
        <br>
        <div id="gdpr-cookie-policy">
            Cookie Policy
            <br>
            <br>
                * What data is stored inside cookies?
                <br>
                - The data is saved inside session storage in four different session items:
                id, token, username and role.
                <br>
                - We save that token string to display what user is signed in, what id you have and what role you have
                The token is only saved as long as the session is active or if you destroy the token.
                <br>
                <br>
                * Why is that data saved?
                <br>
                - We save that token to confirm your account information to make sure
                you are who you say you are and keep you signed in on the service until the token expires.
        </div>
        <br>
    </div>
    <script type="module" src="./scripts/read.mjs"></script>
    <script type="module" src="./scripts/update.mjs"></script>
    <script type="module" src="./scripts/delete.mjs"></script>
    <script type="module" src="./scripts/create.mjs"></script>
    <script type="module" src="./scripts/sortby.mjs"></script>
    <script type="module" src="./scripts/pagination.mjs"></script>
    <script type="module" src="./scripts/user.mjs"></script>
</body>
</html>